@model Group
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Qrup Yarat</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Kurs Seç</label>
                        <select asp-for="@Model.CourseId" class="form-control" name="courseId" id="course">
                            @foreach (Course course in ViewBag.Courses)
                            {
                                <option value="@course.Id">@course.Name</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Kursun Kateqoriyasını Seç</label>
                        <select  class="form-control" name="categoryId" id="category">
                            @foreach (Category category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>

                            }
                        </select>
                        <span  class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.GroupNumber">Qrupun Nömrəsi</label>
                        <input asp-for="@Model.GroupNumber" class="form-control">
                        <span asp-validation-for="@Model.GroupNumber" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.TotalPlaceCount">Ümumi Yer Sayı</label>
                        <input asp-for="@Model.TotalPlaceCount" class="form-control">
                        <span asp-validation-for="@Model.TotalPlaceCount" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EmptyPlaceCount">Boş Yer Sayı</label>
                        <input asp-for="@Model.EmptyPlaceCount" class="form-control">
                        <span asp-validation-for="@Model.EmptyPlaceCount" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.StartTime">Başlama Müddəti</label>
                        <input asp-for="@Model.StartTime" class="form-control">
                        <span asp-validation-for="@Model.StartTime" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EndTime">Bitmə Müddəti</label>
                        <input asp-for="@Model.EndTime" class="form-control">
                        <span asp-validation-for="@Model.EndTime" class="text-danger">  </span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Yadda Saxla</button>
                    <a asp-action="Index" class="btn btn-light">Ləğv Et</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).on("change", "#course", function () {
            $.ajax({
                url: "/Groups/LoadCategories/",
                type: "get",
                data: {
                    "courseId": $("#course").val()
                },
                success: function (response) {
                    $("#category").empty()
                    $("#category").append(response)
                }
            })

        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
