@model ResetPasswordVM
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Şifrəni Bərba Et</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                   
                    <div class="form-group">
                        <label asp-for="@Model.Password">Yeni Şifrə</label>
                        <input asp-for="@Model.Password" class="form-control">
                        <span asp-validation-for="@Model.Password" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ConfirmPassword">Yeni Şifrəni Təsdiqlə</label>
                        <input asp-for="@Model.ConfirmPassword" class="form-control">
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger">  </span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Yadda Saxla</button>
                    <a asp-action="Index" class="btn btn-light">Ləğv Et</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
