@model Lesson
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Dərs Əlavə Et</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="@Model.Title">Dərs Adı</label>
                        <input asp-for="@Model.Title" class="form-control">
                        <span asp-validation-for="@Model.Title" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label>Kurs Seç</label>
                        <select asp-for="@Model.CourseId" class="form-control" name="courseId" id="course">
                            @foreach (Course course in ViewBag.Courses)
                            {
                                <option value="@course.Id">@course.Name</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.CourseId" class="text-danger"></span>
                    </div>
                    <div id="catGroup">
                        <div class="form-group">
                            <label>Kursun Kateqoriyasını Seç</label>
                            <select class="form-control" name="categoryId" id="category">
                                @foreach (Category category in ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>

                                }
                            </select>
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Qrupunu Seç</label>
                            <select  class="form-control" name="groupId" id="group">
                                @foreach (Group group in ViewBag.Groups)
                                {
                                    if (!group.IsDeactive)
                                    {
                                        <option value="@group.Id">@group.GroupNumber</option>
                                    }
                                }
                            </select>
                            <span  class="text-danger"></span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.StartTime"> Başlama Zamanı</label>
                        <input asp-for="@Model.StartTime" class="form-control">
                        <span asp-validation-for="@Model.StartTime" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EndTime">Bitmə Zamanı</label>
                        <input asp-for="@Model.EndTime" class="form-control">
                        <span asp-validation-for="@Model.EndTime" class="text-danger">  </span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Yadda Saxla</button>
                    <a asp-action="Index" class="btn btn-light">Ləğv Et</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).on("change", "#course", function () {
            $.ajax({
                url: "/Lessons/LoadCategories/",
                type: "get",
                data: {
                    "courseId": $("#course").val()
                },
                success: function (response) {
                    $("#catGroup").empty()
                    $("#catGroup").append(response)
                }
            })

        });
        $(document).on("change", "#category", function () {
            $.ajax({
                url: "/Lessons/LoadGroups/",
                type: "get",
                data: {
                    "categoryId": $("#category").val()
                },
                success: function (response) {
                    $("#group").empty()
                    $("#group").append(response)
                }
            })

        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
